$textgray: #747474
$action: rgba(255, 255, 255, 0.658)
$outline: rgba(255, 255, 255, .25)
// $action: #6185273b

    
*
    margin: 0

@mixin transition($duration)
    -webkit-transition: $duration
    -moz-transition: $duration
    -ms-transition: $duration
    -o-transition: $duration
    transition: $duration

h1
    font-size: 2.25rem  
h2
    font-size: 1rem
    opacity: calc(0.75)

.App
  text-align: center
  min-height: 100vh
  
.content
    display: flex
    flex-direction: column
    font-size: calc(10px + 2vmin)
    color: white
    .push-down
        margin-top: 30vh

    height: fit-content

.container > * 
    margin: .5rem 2rem .5rem 2rem
.container
    justify-content: center
    align-items: center

.search
    align-items: center
    display: flex
.search > * 
    outline: 3px solid $outline
input
    height: 3rem
    min-width: 30%
    max-width: 80%
    margin-right: 0 !important
    border: none
    border-radius: 25px 
    border-radius: 25px
    text-align: center
    font-size: 1.5rem
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace
    color: $textgray
    @include transition(.5s)
input:focus,input:hover
    outline: 3px solid $action
button
    border: none
    height: 3rem
    width: 3rem
    margin-left: 0.5rem !important
    text-align: center
    background-color: white
    border-radius: 25px
    @include transition(.5s)
    img
        filter: invert(.5)
button:hover
    cursor: pointer
    outline: 3px solid $action

